body {
    background-color:#182C2D;
    font-family: 'Jura', sans-serif;
}

header {
    margin: 10px auto;
    border-bottom: solid 2px #BF5443;
}

nav, nav ul {
    display: flex;
    margin: 0;
    justify-content: right;
}

nav ul {
    padding-right: 20px;
}

nav li {
    display: inline;
    margin: 10px 30px;
    font-size: 1.5rem;
    color: white
}

main {
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    width:90%;
    margin: 0 auto;
    margin-top: 60px;
}

#main-bg {
    position: absolute;
    top:0;
    right: 70px;
    width: 1100px;
    z-index: -1;
}

.card {
    background-color: rgba(238, 230, 230, 0.767);
    margin: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgb(8, 8, 8);
    padding: 20px;
    
}

.card h2 {
    margin-top: 30%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600
}

.card p {
    text-align: center;
    margin: 75px auto 0;
    font-size: 1.25rem;
    overflow-wrap:break-word;
}

#scramble {
    font-weight: bolder;
}


.table-container {
    height:75%;
    overflow: auto;
}

.time-table, .scramble {
    flex: 1;
}


.timer-card {
    flex: 2;
}

#timer {
font-family: 'Courier New', Courier, monospace;
}

#stats {
    display: flex;
    margin-top: 20px;
}

#stats table {
    width: 90%;
    margin: 0 auto;
}
#stats tr {
    background-color: transparent;
}
#stats th {
    font-size: 1rem;
    font-weight: bolder;
}

#stats td, #stats th {
    padding: 5px;
}

table {
    width: 90%;
    margin: 0 auto;
}

tr:nth-child(odd) {
    background-color:#BF5443;
}

tr > th:nth-child(1),tr > td:nth-child(1) {
    background-color: #e7e7e7;
    width: 20px;
}

td, th {
    padding: 2px;
    width:45%;
    text-align: center;
    font-size: .9rem;
    font-weight: bolder;
    border-radius: 5px;
}

tr > td:nth-child(1):hover {
    cursor: pointer;
}

.scramble {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.scramble button {
    margin: 40%;
    height: 20px;
}

.scramble h2 {
    width: 100%;
}

#myRange {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 20px;
}
  
#myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #BF5443;
    cursor: pointer;
}
  
#myRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #BF5443;
    cursor: pointer;
}

.slidecontainer {
    width: 80%;
}

.slidecontainer label {
    display: block;
    margin-left: 30%;
}